{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COSMOS</title>
    <link rel="stylesheet" href="{% static 'web/css/COSMOS.css' %}">
</head>
<body>
<div id="wrapper">
    <!--ローディング画面-->
    <div id="loading">
        <div id="spinner"></div>
    </div>

    <!--コンテンツ部分-->
    <div id="header">
        <h1>COSMOS在室管理システム</h1>
    </div>

    <div id="main">
        <div id="table">
            <ul id="table_header">
                <li>time</li>
                <li>name</li>
                <li>zaisitu</li>
            </ul>
            <ul class="table_data"></ul>
        </div>
    </div>

    <div id="footer">
        <a href="{% url 'admin:index' %}"><p>Login</p></a>
    </div>
</div>
<script type="text/javascript" src="{% static 'web/js/jquery-3.5.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/loading.js' %}"></script>
<script type="text/javascript" src="{% static 'web/js/getZaishitu-Ajax.js' %}"></script>
</body>
</html>