body {
    margin: 0;
}

#wrapper {
    /*width: 100%;*/
    margin: 0 auto;
    /*display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;*/
}
/* ローディング画面 */
#loading {
    width: 100%;
    height: 100%;
    transition: all 1s;
    background-color: #0bd;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
#spinner {
    width: 100px;
    height: 100px;
    margin: 200px auto;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}
#loaded {
    opacity: 0;
    visibility: hidden;
}
/* ローディングアニメーション */
@keyframes sk-scaleout {
    0% {
        transform: scale(0);
    } 100% {
          transform: scale(1.0);
          opacity: 0;
      }
}
/* コンテンツ部分の装飾 */
#header {
    height:64px;
    /*background-color:#009b9f;*/
}
#margin {
    height: 15px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
#main {
    float: right;
    margin-top: 10px;
    width:70%;
    min-height:500px;
    height:auto;
    /*background-color: #009b9f;*/
}
#side {
    float: left;
    margin-top: 10px;
    width:30%;
    max-width:280px;
    height:auto;
    min-height:500px;
    /*background-color:#009b9f;*/
    color: rgba(0,0,0,0.87);
}
#title {
    font-family: 'Product Sans',Arial,sans-serif;
    font-size: 22px;
    color: #5f6368;
}
#button01, #button02, #button03{
    /*background: #e8f0fe;*/
    display: block;
    width: 280px;
    height: 44px;
    border-radius: 0 50px 50px 0;
}
#button01:hover, #button02:hover, #button03:hover{
    background-color: rgba(0,0,0,0.05);
}
#separate {
    display: block;
    border-top: 1px solid #dadce0;
    box-sizing: border-box;
    height: 8px;
    margin-top: 8px;
}
li {
    list-style: none;
}
ul {
    padding: 0;
}
#sample01 {
    display: table;
}
#sample01 > ul {
    display: table-row;
}
#sample01 > ul > li {
    display: table-cell;
}

/*
グリッドレイアウト参考サイト
https://kredo.jp/media/css-layout/
レスポンシブデザイン
https://www.webcreatorbox.com/tech/css-grid-basic-layout
*/