#main {
    width: 450px;
    margin: 0 auto;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(218, 220, 224);
    border-image: initial;
}
#content {
    padding: 48px 40px 36px;
}
#logo {
    text-align: center;
}
#input {
    padding-left: 40px;
    padding-right: 40px;
}
#title {
    text-align: center;
}